body {
    text-align: center;
    background: black;
    color: white;
    font-family: helvetica;
}
p {
    text-align: left;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 10px;
    max-width: 900px;
    display: inline-block;
}
img {
    width: 500px;
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
}

span.question {
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: bold;
}

ul.commit {
    text-align: left;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

p.commit{
    margin: 0px 0px 0px 0px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: grey;
}

a:active {
    color: blue;
}    
ul.menu li {
    display: inline-block;
}
ul.menu li a {
    background-color: black;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
ul.menu li a:hover {
    background-color: orange;
}