body {
    background: 
        url("../imgs/website_background.jpg") #4c4c4c no-repeat;
    background-position: 50% 25px;
    background-size: cover;
    size: 100%;
    font-family: Avenir;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: white;
    font-size: 100%;
    vertical-align: baseline;
}

#about {
    text-align: left;
    font-size: 20px;
}

#blog_post_links {
    display: inline-block;
}

#contact_form {
    font-size: 26px;
    margin: auto;
    background: rgba(0, 0, 0, 0.34);
    display: inline-block;
    width: 45%;
    bottom: 20%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

nav {
    text-align: left;
    background-color: #4c4c4c;
    width: 100%;
    font-size: 1.5em;
    display: inline-block;
    text-shadow: 0 0 5px gray;
}

article {
    /*position: relative;*/
    display: inline-block;
    width: 55%;
    height:100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.35) repeat-y;
    margin: auto;
    text-shadow: 0 0 3px gray;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 55%;
    bottom: 7em;
}

article li {
    font-size: 20px;
    padding-bottom: 15px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;

}

h3 {
    font-size: 25px;
}

footer {
    height: 10%;
    width: 100%;
    position: fixed;
    text-align: left;
    bottom: 5px;
}

footer img {
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 10px;
}

footer li {
    display: inline-block;
    text-decoration: none;
}

ul.menu li a {
    color: white;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}

ul.menu li {
    display: inline-block;
}


ul.menu li a:link {
    color: white;
}

ul.menu li a:visited {
    color: white;
}

ul.menu li a:hover {
    color: #d8d8d8;
}

ul.menu li a:active {
    color: white;
}    

